@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background: black;
}

img{
    width: 240px;
}

header{
    width: 100%;
    height: 70px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin: 0 auto;
}

.logo{
    width: 120px;
    margin-top: 10px;
}

nav .logo{
    display: none;
}

nav ul{
    display: flex;
}

nav ul li a{
    color: white;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 5px 20px;
    transition: 0.2s;
    border-radius: 30px;
}

nav ul li a:hover{
    background: rgb(38, 38, 38);
}

nav ul li a.active{
    background: palegoldenrod;
    color: black;
}

.hamburger{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.2s;
}

.hamburger:hover{
    background: black;
}

.hamburger div{
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: white;
}

/* event */

.contain{
    margin: 0 10px;
    padding: 0 50px;
    padding-top: 50px;
}

.contain h2{
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.contain .title{
    font-size: 3rem;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.contain .event-contain{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 80px;
}

.contain .event-contain .event{
    text-align: center;
    padding: 50px 10px;
    background: white;
    outline: 1px solid black;
    outline-offset: -15px;
    cursor: pointer;
}

.contain .event-contain .event:hover{
    outline: 10px solid palegoldenrod;
    outline-offset: 0;
}

.contain .event-contain .event img{
    width: 20vw;
}

.contain .event-contain .event:hover img{
    transform: scale(.9);
}

.contain .event-contain .event h3{
    padding: 10px 0;
    font-size: 1.5rem;
    color: black;
}

.contain .event-contain .event:hover h3{
    color: palegoldenrod;
}

.contain .event-contain .event .date{
    font-size: 2rem;
    color: black;
}
.event-preview{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.event-preview .preview{
    display: none;
    padding: 20px;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 50px;
    width: 500px;
}

.event-preview .preview.active{
    display: inline-block;
}

.event-preview .preview img{
    width: 240px;
    height: auto;
}

.event-preview .preview .fa-times{
    position: absolute;
    top: 10px; 
    right: 25px;
    cursor: pointer;
    color: #444;
    font-size: 2rem;
}

.event-preview .preview .fa-times:hover{
    transform: rotate(90deg);
}

.event-preview .preview h3{
    color: #444;
    padding: 5px 0;
    font-size: 2rem;
}

.event-preview .preview .stars{
    font-size: 1rem;
    padding: 5px 0px;
}

.event-preview .preview .stars i{
    color: rgb(248, 248, 80);
}

.event-preview .preview .stars span{
    color: #999;
}

.event-preview .preview p{
    list-style: 1.5;
    padding: 2px 0;
    font-size: 1.2rem;
    align-items: center;
    color: #777;
}

.event-preview .preview .date{
    padding: 10px 0;
    font-size: 1.5rem;
    color: #444;
}

.event-preview .preview .buttons{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.event-preview .preview .buttons a{
    flex: 1 1 10px;
    padding: 1rem;
    font-size: 1.8rem;
    color: palegoldenrod;
    border: .1rem solid palegoldenrod;

}

.event-preview .preview .buttons a.book{
    background: #444;
    color: white;
}
.event-preview .preview .buttons a.book:hover{
    background: #111;
}
/* end event */

/* footer */
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: black;
}

footer .footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 3fr 1fr 1fr;
    grid-gap: 20px;
}

footer .footer-content .sc h2{
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-bottom: 15px;
}

footer .footer-content .sc p{
    color: rgb(200, 197, 197);
}

footer .footer-content .socmed{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
}

footer .footer-content .socmed li{
    list-style: none;
}
footer .footer-content .socmed li a{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: white;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 20px;
}

footer .footer-content .socmed li a i{
    color: black;
    font-size: 20px;
}

footer .footer-content .quicklinks{
    position: relative;
}

footer .footer-content .quicklinks ul li{
    list-style: none;
}

footer .footer-content .quicklinks ul li a{
    color: rgb(200, 197, 197);
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

footer .footer-content .contact .info{
    position: relative;
}

footer .footer-content .contact .info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

footer .footer-content .contact .info li span{
    color: rgb(200, 197, 197);
    font-size: 20px;
}

footer .footer-content .contact .info li a{
    color: rgb(200, 197, 197);
    text-decoration: none;
}

.copyrightText{
    width: 100%;
    background: black;
    padding: 20px 100px 30px;
    text-align: center;
    color: #fff;
}
/* end footer */

@media only screen and (min-width: 1200px)
{
    header{
        width: 100%;
        padding: 0 20px;
    }

}

@media only screen and (max-width: 768px)
{
    header{
        width: 100%;
        padding: 0 20px;
    }
    nav{
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: black;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }
    #check-header:checked ~ nav{
        left: 0;
    }
    nav .logo{
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    nav ul li a{
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    nav ul{
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    .hamburger{
        display: block;
    }
    
    footer{
        padding: 10px 50px;
    }
    footer .footer-content{
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-gap: 15px;
    }
}

@media only screen and (max-width: 500px)
{
    header{
        width: 100%;
        padding: 0 20px;
    }
    img{
        width: 200px;
    }
    nav{
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: black;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }
    #check-header:checked ~ nav{
        left: 0;
    }
    nav .logo{
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    nav ul li a{
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    nav ul{
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    .hamburger{
        display: block;
    }

    
    footer{
        padding: 10px 50px;
    }
    footer .footer-content{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}   